<p id="notice"><%= notice %></p>

<div class="row">
    <div>
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>
      
  <div>
    <%= image_tag(@idea.picture_url, width: '20%') if @idea.picture.present? %>
  </div>
      
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>
    </p>
  </div>
</div>